DATABASE_URL="file:./dev.db"
NEXT_PUBLIC_WHATSAPP_NUMBER=+258840000000
CONTACT_EMAIL_TO=comercial@ndivasa.co.mz
SMTP_HOST=smtp.example.com
SMTP_USER=mailer@example.com
SMTP_PASS=supersecret
ADMIN_PASSWORD=change-me
